@model ReviewAggregatorWebApp.Model.Movie
@{
        Layout = "~/Views/Shared/MainLayout.cshtml";
}
<h1>Редактировать фильм</h1>

<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PosterLink"></label>
        <input asp-for="PosterLink" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="DirectorId"></label>
        <select asp-for="DirectorId" class="form-control" asp-items="@(new SelectList(ViewBag.Directors, "Id", "Name", Model.DirectorId))"></select>
        <span asp-validation-for="DirectorId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ReleaseDate"></label>
        <input asp-for="ReleaseDate" class="form-control" type="date" />
        <span asp-validation-for="ReleaseDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Rating"></label>
        <input asp-for="Rating" class="form-control" />
        <span asp-validation-for="Rating" class="text-danger"></span>
    </div>
    <div class="multiselect">
        <div class="selectBox" onclick="showCheckboxes('countryCheckboxes')">
            <select class="form-select">
                <option>Страны фильма</option>
            </select>
            <div class="overSelect"></div>
        </div>
        <div class=" dropdown-menu checkboxes countryCheckboxes">
            @foreach (var country in ViewBag.Countries)
            {
                <div class="form-check">
                    <label for="country_@country.Id" class="form-check-label">
                        <input type="checkbox" name="selectedCountries[]"  
                            checked="@(Model.Countries.Any(c => c.Id == country.Id) ? "checked" : null)"
                               id="@country.Id" class="form-check-input" value="@country.Id" />@country.Name
                    </label>
                </div>
            }
        </div>
    </div>

    <div class="multiselect">
        <div class="selectBox" onclick="showCheckboxes('genreCheckboxes')">
            <select class="form-select">
                <option>Жанры фильма</option>
            </select>
            <div class="overSelect"></div>
        </div>
        <div class="dropdown-menu checkboxes genreCheckboxes">
            @foreach (var genre in ViewBag.Genres)
            {
                <div class="form-check">
                    <label for="genre_@genre.Id" class="form-check-label">
                        <input type="checkbox" name="selectedGenres[]" 
                            checked="@(Model.Genres.Any(g => g.Id == genre.Id) ? "checked" : null)"
                               id="@genre.Id" class="form-check-input" value="@genre.Id" />@genre.Name
                    </label>
                </div>
            }
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
    <a asp-action="Index" class="btn btn-secondary">Отмена</a>
</form>

<script>
    var expanded = false;

    function showCheckboxes(checkboxesClass) {
        var checkboxes = document.querySelector('.' + checkboxesClass);
        if (checkboxes.style.display === "block") {
            checkboxes.style.display = "none";
        } else {
            checkboxes.style.display = "block";
        }
    }
</script>