@model IEnumerable<ReviewAggregatorWebApp.Model.Movie>
@{
    var genre = ViewBag.Genre;
    var year = ViewBag.Year;
    var director = ViewBag.Director;
    var country = ViewBag.Country;
    var sortOrder = ViewBag.SortOrder;
    var pageNumber = ViewBag.CurrentPage;

    // Получаем данные для фильтров из кэша
    var genres = ViewBag.Genres;
    var years = ViewBag.Years;
    var directors = ViewBag.Directors;
    var countries = ViewBag.Countries;

    // Формируем заголовок страницы
    string genreTitle = string.IsNullOrEmpty(genre) ? "" : $" жанра {genre}";
    string yearTitle = string.IsNullOrEmpty(year) ? "" : $" {year} года";
    string directorTitle = string.IsNullOrEmpty(director) ? "" : $" режиссера {director}";
    string countryTitle = string.IsNullOrEmpty(country) ? "" : $", созданные в стране {country}";

    Layout = "~/Views/Shared/MainLayout.cshtml";
}


<div class="filter-section">
    <form method="get" action="@Url.Action("Filter", new { genre = genre, year = year, director = director, country = country, sortBy = sortOrder })" class="form-inline">
        <div class="form-group mb-2 mx-2">
            <label for="genre" class="mr-2">Жанр:</label>
            <select id="genre" name="genre" class="form-control form-control-sm">
                <option value="">Все</option>
                @foreach (var g in genres)
                {
                    <option value="@g" selected="@(g.ToString() == genre ? "selected" : null)">@g</option>
                }
            </select>
        </div>

        <div class="form-group mb-2 mx-2">
            <label for="year" class="mr-2">Год выхода:</label>
            <select id="year" name="year" class="form-control form-control-sm">
                <option value="">Все</option>
                @foreach (var y in years)
                {
                    <option value="@y" selected="@(y.ToString() == year ? "selected" : null)">@y</option>
                }
            </select>
        </div>

        <div class="form-group mb-2 mx-2">
            <label for="director" class="mr-2">Режиссер:</label>
            <input type="text" class="form-control form-control-sm" id="director" name="director" placeholder="Все" value="@director" aria-label="Search" list="directorList">
            <datalist id="directorList"></datalist>
        </div>

        <div class="form-group mb-2 mx-2">
            <label for="country" class="mr-2">Страна:</label>
            <select id="country" name="country" class="form-control form-control-sm">
                <option value="">Все</option>
                @foreach (var c in countries)
                {
                    <option value="@c" selected="@(c.ToString() == country ? "selected" : null)">@c</option>
                }
            </select>
        </div>

        <button type="submit" class="btn btn-primary btn-sm">Применить фильтр</button>
    </form>
</div>

<h1>Фильмы@(genreTitle + yearTitle + directorTitle + countryTitle)</h1>


<div class="form-group mt-2">
    <label for="sortOptions" class="mr-2">Сортировать по:</label>
    <select id="sortOptions" class="form-control form-control-sm" onchange="location = this.value;">
        <option value="@Url.Action("Filter", new { genre = genre, year = year, director = director, country = country, sortBy = "rating" })" selected="@(sortOrder == "rating" ? "selected" : null)">Рейтингу</option>
        <option value="@Url.Action("Filter", new { genre = genre, year = year, director = director, country = country, sortBy = "date" })" selected="@(sortOrder == "date" ? "selected" : null)">Дата</option>
    </select>
</div>



@if (User.IsInRole("Admin"))
{
    <div>
        <a asp-action="Create" class="btn btn-primary">Добавить фильм</a>
    </div>
}

@if (Model != null && Model.Any())
{
    <ul>
        @foreach (var movie in Model)
        {
            <li class="movie-item" style="display: flex; align-items: flex-start; justify-content: flex-start; padding: 0;">
                <div class="movie-poster" style="margin-right: 15px; padding: 10px; height: 150px; overflow: hidden;">
                    <a href="@Url.Action("Details", "MovieInfo", new { id = movie.Id })">
                        <img src="@movie.PosterLink" alt="@movie.Name" style="height: 100%; width: auto; display: block; margin: auto; font-size: 8px;" onerror="this.onerror=null; this.src='path/to/placeholder-image.jpg';" />
                    </a>
                </div>

                <div class="movie-info" style="flex-grow: 1; margin-left: 0; display: flex; flex-direction: column;">
                    <a href="@Url.Action("Details", "MovieInfo", new { id = movie.Id })" class="movie-link" style="display: block; max-width: 600px;">
                        <strong>
                            @movie.Name
                        </strong> - @(movie.ReleaseDate.Year.ToString())
                        <br />
                        Рейтинг: Kp: @(movie.KpRating.ToString()) @if (movie.Rating != null)
                        {
                            <span>Отзывы: @(movie.Rating.ToString())/5,00</span>
                        }
                        <br />
                        Жанр: @string.Join(", ", movie.Genres?.Select(g => g.Name) ?? new List<string> { "-" })
                        <br />
                        Режиссер: <span>@(movie.Director?.Name ?? "–")</span>
                        <br />
                        Страна: @string.Join(", ", movie.Countries?.Select(c => c.Name) ?? new List<string> { "-" })
                    </a>
                </div>

                <div style="margin-top: 30px; margin-right: 10px;">
                    @if (User .IsInRole("Admin"))
                    {
                        <a href="@Url.Action("Edit", new {id = movie.Id})" class="btn btn-secondary" style="margin-right: 10px;">Изменить</a>
                        <button class="btn btn-danger" onclick="confirmDelete(@movie.Id)">Удалить</button>
                    }
                </div>
            </li>
        }
    </ul>
}
else
{
    <p>Фильмы не найдены.</p>
}

<div class="pagination" style="display: flex; justify-content: center; align-items: center;">
    @if (ViewBag.TotalPages > 1)
    {
        // Кнопка "Первая"
        if (ViewBag.CurrentPage > 1)
        {
            <a href="@Url.Action("Filter", new { genre = genre, year = year, director = director, country = country, sortBy = sortOrder, pageNumber = 1 })" class="btn btn-secondary" style="margin: 0 3px;">1</a>
        }

        // Многоточие перед предыдущими страницами
        if (ViewBag.CurrentPage > 3)
        {
            <span style="margin: 0 3px;">...</span>
        }

        // Кнопки для предыдущих страниц
        if (ViewBag.CurrentPage > 2)
        {
            <a href="@Url.Action("Filter", new { genre = genre, year = year, director = director, country = country, sortBy = sortOrder, pageNumber = ViewBag.CurrentPage - 1 })" class="btn btn-secondary" style="margin: 0 3px;">@(ViewBag.CurrentPage - 1)</a>
        }

        // Обертка для поля ввода и кнопок
        <div style="display: flex; align-items: center; margin: 0 3px;">
            <form method="get" class="d-inline-block" style="margin: 0;">
                <input type="hidden" name="genre" value="@genre" />
                <input type="hidden" name="year" value="@year" />
                <input type="hidden" name="director" value="@director" />
                <input type="hidden" name="country" value="@country" />
                <input type="hidden" name="sortBy" value="@sortOrder" />
                <div class="input-group">
                    <input type="number" name="pageNumber" min="1" max="@ViewBag.TotalPages" value="@ViewBag.CurrentPage" style="text-align: center;" />
                </div>
            </form>
        </div>

        // Кнопка для следующей страницы
        if (ViewBag.CurrentPage < ViewBag.TotalPages - 1)
        {
            <a href="@Url.Action("Filter", new { genre = genre, year = year, director = director, country = country, sortBy = sortOrder, pageNumber = ViewBag.CurrentPage + 1 })" class="btn btn-secondary" style="margin: 0 3px;">@(ViewBag.CurrentPage + 1)</a>
        }

        // Многоточие после следующих страниц
        if (ViewBag.CurrentPage < ViewBag.TotalPages - 2)
        {
            <span style="margin: 0 3px;">...</span>
        }

        // Кнопка "Последняя"
        if (ViewBag.CurrentPage < ViewBag.TotalPages)
        {
            <a href="@Url.Action("Filter", new { genre = genre, year = year, director = director, country = country, sortBy = sortOrder, pageNumber = ViewBag.TotalPages })" class="btn btn-secondary" style="margin: 0 3px;">@ViewBag.TotalPages</a>
        }
    }
</div>


<script>
    $(document).ready(function () {
        $('#director').on('input', function () {
            var namePrefix = $(this).val();
                if (namePrefix.length > 0) {
                $.get('/Directors/GetDirectorsByNamePrefix', { namePrefix: namePrefix }, function (data) {
                    $('#directorList').empty(); // Очистить предыдущие результаты
                    if (data.length > 0) {
                        $.each(data, function (index, director) {
                            $('#directorList').append(
                                `<option value="${director.name}">${director.name}</option>`
                                );
                            });
                        } else {
                            $('#directorList').append('<option value="Режиссеры не найдены." disabled></option>');
                    }
                });
            } else {
                $('#directorList').empty(); // Очистить результаты, если ввод пустой
            }
            });
        });
</script>

<script>
    function goToPage() {
        var pageNumber = document.getElementById('currentPage').value;
        var totalPages = @ViewBag.TotalPages;

        if (pageNumber >= 1 && pageNumber <= totalPages) {
            window.location.href = '@Url.Action("Filter", new { genre = genre, year = year, director = director, country = country, sortBy = sortOrder, pageNumber = "__PAGE__" })'.replace('__PAGE__', pageNumber);
        } else {
            alert('Введите корректный номер страницы (от 1 до ' + totalPages + ')');
        }
    }
</script>

<script>
    function confirmDelete(movieId) {
        if (confirm("Вы уверены, что хотите удалить этот фильм?")) {
            window.location.href = '@Url.Action("Delete")/' + movieId;
        }
    }
</script>