@model IEnumerable<ReviewAggregatorWebApp.Model.Movie>
@{
    var genre = ViewBag.Genre;
    var year = ViewBag.Year;
    var director = ViewBag.Director;
    var country = ViewBag.Country;
    var sortOrder = ViewBag.SortOrder;

    // Получаем данные для фильтров из кэша
    var genres = ViewBag.Genres;
    var years = ViewBag.Years;
    var directors = ViewBag.Directors;
    var countries = ViewBag.Countries;

    // Формируем заголовок страницы
    string genreTitle = string.IsNullOrEmpty(genre) ? "" : $" жанра {genre}";
    string yearTitle = string.IsNullOrEmpty(year) ? "" : $" {year} года";
    string directorTitle = string.IsNullOrEmpty(director) ? "" : $" режиссера {director}";
    string countryTitle = string.IsNullOrEmpty(country) ? "" : $", созданные в стране {country}";

    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<h1>Фильмы@(genreTitle + yearTitle + directorTitle + countryTitle)</h1>

<div class="filter-section">
    <form method="get" action="@Url.Action("Filter", new { genre = genre, year = year, director = director, country = country, sortBy = sortOrder })">
        <div class="form-group">
            <label for="genre">Жанр:</label>
            <select id="genre" name="genre" class="form-control">
                <option value="">Все</option>
                @foreach (var g in genres)
                {
                    <option value="@g" selected="@(g.ToString() == genre ? "selected" : null)">@g</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label for="year">Год выхода:</label>
            <select id="year" name="year" class="form-control">
                <option value="">Все</option>
                @foreach (var y in years)
                {
                    <option value="@y" selected="@(y.ToString() == year ? "selected" : null)">@y</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label for="director">Режиссер:</label>
            <select id="director" name="director" class="form-control">
                <option value="">Все</option>
                @foreach (var d in directors)
                {
                    <option value="@d" selected="@(d.ToString() == director ? "selected" : null)">@d</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label for="country">Страна:</label>
            <select id="country" name="country" class="form-control">
                <option value="">Все</option>
                @foreach (var c in countries)
                {
                    <option value="@c" selected="@(c.ToString() == country ? "selected" : null)">@c</option>
                }
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Применить фильтр</button>
    </form>
</div>

<div class="form-group">
    <label for="sortOptions">Сортировать по:</label>
    <select id="sortOptions" class="form-control" onchange="location = this.value;">
        <option value="@Url.Action("Filter", new { genra = genre, year = year, director = director, country = country, sortBy = "rating" })" selected="@(sortOrder == "rating" ? "selected" : null)">По рейтингу</option>
        <option value="@Url.Action("Filter", new { genra = genre, year = year, director = director, country = country, sortBy = "date" })" selected="@(sortOrder == "date" ? "selected" : null)">По дате</option>
    </select>
</div>

<div>
    <a asp-action="Create" class="btn btn-primary">Добавить фильм</a>
</div>

@if (Model != null && Model.Any())
{
    <ul>
        @foreach (var movie in Model)
        {
            <li class="movie-item">
                <div class="movie-info">
                    <a href="@Url.Action("Details", "MovieInfo", new { id = movie.Id })" class="movie-link">
                        <strong>
                            @movie.Name
                        </strong> - @(movie.ReleaseDate.Year.ToString())
                        <br />
                        Жанры: @string.Join(", ", movie.Genres?.Select(g => g.Name) ?? new List<string> { "-" })
                        <br />
                        Режиссер: @(movie.Director?.Name ?? "–")
                        <br />
                        Страны: @string.Join(", ", movie.Countries?.Select(c => c.Name) ?? new List<string> { "-" })
                    </a>

                    <div>
                        <a href="@Url.Action("Edit", new {id = movie.Id})" class="btn btn-secondary">Изменить</a>
                        <button class="btn btn-danger" onclick="confirmDelete(@movie.Id)">Удалить</button>
                    </div>
                </div>
            </li>
        }
    </ul>
}
else
{
    <p>Фильмы не найдены.</p>
}

<script>
    function confirmDelete(movieId) {
        if (confirm("Вы уверены, что хотите удалить этот фильм?")) {
            window.location.href = '@Url.Action("Delete")/' + movieId;
        }
    }
</script>